<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQKSLHUZaJrsbvkWbcnWTg3xMgmCZPnac</string>
	<key>GCM_SENDER_ID</key>
	<string>514292837708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliverApp</string>
	<key>PROJECT_ID</key>
	<string>food-deliver-app-7ecee</string>
	<key>STORAGE_BUCKET</key>
	<string>food-deliver-app-7ecee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514292837708:ios:b455c62f90a98b3747f3e9</string>
</dict>
</plist>